<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hi, <%= @support_agent.name %></h1>
<p>
  Please find attached a CSV file containing requests from the last one
  month
  <br />
  Attend to it and close when done
</p>
</body>
</html>